{% extends 'blog_app/base.html' %}
{% block content %}
    <h2 style="color: darkblue">{{ object.title }}</h2>
    <br><br>
        <div class="nice">
            <img class="rounded-circle" src="{{ object.author.profile.image.url }}">
            <h3>{{object.title}}</h3>
            <a href="{% url 'blog_app:user-post' object.author.username %}">by {{post.author}}</a>
            <h5 style="color: blue">on {{object.pub_date|date:"F d, Y"}}</h5>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary"  href="{% url  'blog_app:blog-update'  object.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url  'blog_app:blog-delete'  object.id %}">Delete</a>
                </div>
            {% endif %}
            <p>{{object.content}}</p>
        </div>
        <br><br>
{% endblock content %}
