{% extends 'blog_app/base.html' %}
{% block content %}
    <h1 class="mb-3" >Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }}) </h1>
    <h2 style="color: darkblue">Latest Blogs</h2>
    <br><br>
    {% for post in posts %}
        <div class="nice">
            <img class="rounded-circle" src="{{ post.author.profile.image.url }}">
            <h3><a href="{% url 'blog_app:blog-detail' post.id  %}">{{post.title}}</a></h3>
            <a href="{% url 'blog_app:user-post' post.author.username %}">by {{post.author}}</a>
            <h5 style="color: blue">{{post.pub_date|date:"F d, Y"}}</h5>
            <p>{{post.content}}</p>
        </div>
        <br><br>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>

            {% endif %}
        {% endfor %}

         {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}


    {% endif %}

{% endblock content %}
